.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    margin: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.btn-proced{
    margin-top: 10px;
    width: 100%;
    background-color: yellow;
    font-weight: 700;
    border-radius: 20px;
}